# Videos (son muy pesados, no van a GitHub)
# static/videos/*.mp4
# static/videos/*.mov
# static/videos/*.avi

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Entorno
.env

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Archivos grandes temporales
*.logtemplates/*.png
